*.pyc
db.sqlite3
.DS_Store
.vscode/
.venv
.env
requirements.txt
settings.py
prod_settings.py
debug.log
core/.DS_Store
migrations/
__pycache__/
core/templatetags/__pycache__/
venv/
media/
sent_emails/
python_requests/
data/