{% extends 'base.html' %}
{% block content %}

<div id="login-cont" class="pyl-container pyl-padding">
    <div class="pyl-card login-form">
        <h2>Change Your Password</h2>
        <form method="post">
            {%csrf_token%}
            <div class="form-fields">
                {% for f in form %}
                <div class="password-help-text">{{f.help_text}}</div>
                <label class="pyl-label-text" for="{{f.auto_id}}">{{f.label}}</label>
                {{f}}

            </div>
            <div class="form-fields">
                {% if f.errors %}
                <p>{{f.errors}}</p>
                {% else %}
                <p></p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="form-buttons">
                <button class='pyl-btn' type="submit">Save</button>
            </div>
        </form>
    </div>
</div>


{% endblock content %}


