{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="pyl-container profile-page">
    <div id="h1-edit">
        <h1>
            {{ userinfo.first_name}} {{ userinfo.last_name }}</h1>
            <a href="{% url 'user_profile_edit' user.id %}"><svg id="edit-profile" xmlns="http://www.w3.org/2000/svg" height="48" width="48" fill="#333A56"><path d="M25 41v-2.55l10.4-10.4 2.55 2.55L27.55 41ZM7 30.75v-1.5h14.45v1.5Zm32.7-1.9-2.55-2.55 1.45-1.45q.2-.2.525-.2t.575.2l1.45 1.45q.2.25.2.575 0 .325-.2.525ZM7 22.65V21.1h22.7v1.55Zm0-8.1V13h22.7v1.55Z"/></svg></a>
        {% comment %} </h1> {% endcomment %}
    </div>
    <div class="profile-page-layout">
        <div class="collumn prf-pag col-darker">
            <h2>Details</h2>
            <div>
                Name
                <p id="name">{{userinfo.first_name}} {{userinfo.last_name}}</p>
            </div>
            <div>
                Contact
                <p><img src="{% static 'images/svg/adress.svg' %}" alt="Adress1">{{userinfo.adress.street}} {{userinfo.adress.building_no}}</p>
                <p><img src="{% static 'images/svg/adress.svg' %}" alt="Adress2">{{userinfo.adress.zip_code}}, {{userinfo.adress.city}}</p>
                <p><img src="{% static 'images/svg/phone.svg' %}" alt="Phone No.">{{userinfo.phone_no}}</p>
                {% if userinfo.user.email %}
                <p><img src="{% static 'images/svg/email.svg' %}" alt="Email">{{userinfo.user.email}}</p>
                {% else %}
                    <p><img src="{% static 'images/svg/email.svg' %}" alt="Email">email not provided</p>
                {% endif %}                
            </div>
            <div>
                Personal
                <p><span>Sex:</span>{{userinfo.get_gender_display}}</p>
                <p><span>DoB:</span>{{userinfo.dob}}</p>
                <p><span>PESEL:</span>{{userinfo.social_security_no_pesel}}</p>
                <p><span>ID no:</span>{{userinfo.id_passport}}</p>
                <p><span>User:</span>{{userinfo.user}}</p>
            </div>

        </div>
        <div class="collumn prf-pag">
            <h2>Picture</h2>
                {% if userinfo.profile_pic %}
                <img src="{{userinfo.profile_pic.url}}" alt="#" class="profile-picture">
                {% else %}
                <h4>NONE</h4>
                {% endif %}

        </div>
        <div class="collumn prf-pag col-darker">
            <h2>About</h2>
            <p>{{userinfo.information}}</p>

        </div>
    </div>

</div>

{% endblock content %}