{% extends 'base.html' %}
{% block content %}

<div id="login-cont" class="pyl-container pyl-padding">
    <div class="pyl-card login-form">
        {% if validlink %}
        <h2>Enter a new password</h2>
        <form method="post">
            {%csrf_token%}
            <div class="form-fields">
                {% for f in form %}
                <div class="password-help-text">{{f.help_text}}</div>
                <label class="pyl-label-text" for="{{f.auto_id}}">{{f.label}}</label>
                {{f}}

            </div>
            <div class="form-fields">
                {% if f.errors %}
                <p>{{f.errors}}</p>
                {% else %}
                <p></p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="form-buttons">
                <button class='pyl-btn' type="submit">Save</button>
            </div>
            {% else %}
            <div class="form-fields">
                <p>Password reset link is invalid!</p>
            </div>
            {% endif %}
        </form>
    </div>
</div>


{% comment %} <h1>Enter new password</h1>

{% if validlink %}
<form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button class='pyl-btn' type="submit">Save</button>
</form>
{% else %}
<h4>Password reset link INVALID</h4>

{% endif %} {% endcomment %}
{% endblock content %}