{% extends 'base.html' %}
{% block content %}


<div class="pyl-container">
    <h1 class="t-color-secondary t-fam-raj t-bold-400 t-align-center">About this website . . .</h1>
    <div class="collumn col-darker base-col">
        <p>This website is for educational purposes only. The information provided on this site 
            is not intended to be real. Any kind of similarities with real names, dates, numbers (such as id, pesel etc) should be treated as fictional.</p>
        <p>The idea behind this website is solely for me to learn web development. I didn't want to create "another"
            e-commerce or blog website the internet is full of step-by-step tutorials of how to make one. Additionally I have 
            some background in this "loan" topic because of my previous work. </p>
        <p>I'm aware that some features used here are not the best practices or best use cases - it was meant for learning, 
            understanding how things work - sometimes I wanted to solve a particular problem myself without copy/pasting a solution from SO.
            It might have produced unelegant, inefficient results, like the table sorting in "My Customers".</p>
        <p>Technologies used here are Python, Django for backend development - with some basic use of Django Rest Framework. Because I 
            was starting from scratch and I had absolutely no clue about web development I intentionally didn't use front-end css libraries like 
            Bootstratp - I wanted to learn some HTML and CSS basics. Some things in JS are written by myself instead of using prepared packages for example
            I wrote a script that generates HTML forms (with validation) from Json send by DRF - something similiar to JsonForms...</p>
    </div>

</div>

{% endblock content %}