{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="pyl-container d-flex-center">
    <h1 class="t-color-secondary t-fam-raj t-bold-400 t-align-center">Contact information</h1>
    <div class="collumn prf-pag col-darker w-30">
        <div><p><img src="{% static 'images/svg/person.svg' %}" alt="Email">Adam Teszner</p>
        <p><img src="{% static 'images/svg/email.svg' %}" alt="Email"><a href='mailto:mail.loan.co.xyz@gmail.com'>mail.loan.co.xyz@gmail.com</a></p>
        <p><img src="{% static 'images/svg/linkedin.svg' %}" alt="Linkedin"><a href='https://www.linkedin.com/in/adam-teszner/'>linkedin.com/in/adam-teszner</a></p></div>
    </div>
</div>
{% endblock content %}