{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- Navbar -->
<div class="w3-bar w3-theme-d3">
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-hover-theme w3-mobile">Home</a>
    <a href="{% url 'create_customer' %}" class="w3-bar-item w3-button w3-hover-theme w3-mobile">New Customer</a>
    <a href="{% url 'custom_create' %}" class="w3-bar-item w3-button w3-hover-theme w3-mobile">Custom Customer</a>
    <a href="{% url 'customer_list' %}" class="w3-bar-item w3-button w3-hover-theme w3-mobile">My Customers</a>
    {% if user.is_authenticated %}
      <span class='w3-right w3-mobile'>
        <span class='w3-bar-item w3-small w3-mobile'>Welcome, {% user_first_name %}</span>
        <a href="{% url 'logout' %}?next={{request.path}}" class="w3-bar-item w3-button w3-hover-theme w3-mobile">Logout</a>
      </span>
    {% else %}
    <a href="{% url 'login' %}" class="w3-bar-item w3-right w3-button w3-hover-theme w3-mobile">Login</a>
    {% endif %}

  </div>

  <!-- Page Content -->
  <div class="w3-container w3-theme">
    {% block title %}
    <h3>Base HTML</h3>
    {% endblock title %}
  </div>
<div class='w3-theme-l5'>
{% block content %}
{% endblock content %}
</div>





<script>
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
  }
  
  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }
</script>
    
</body>
</html>
